<div  style="display: flex; flex-direction: column; width: 100%; height: 100%;">
  <p style="flex: 1;">
    <mat-toolbar>
      <span>Students list</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" (click)="save()">Add</button>
      <button class="horizontal-margin" mat-raised-button color="warn" (click)="delete()" [disabled]="!selectedData$">Delete</button>
    </mat-toolbar>
  </p>
  <mat-card *ngIf="(appState$ | async) as appState" style="flex: 20">
      <ag-grid-angular
        class="ag-theme-alpine"
        style="width: 100%; height: 100%;"
        [columnDefs]="columnDefs"
        [frameworkComponents]="framework"
        [rowData]="appState.appData && appState.appData.data.students"
        rowSelection="single"
        [rowMultiSelectWithClick]="true"
        (selectionChanged)="onSelectionChanged($event)"
        tooltipShowDelay="0"
        suppressCellSelection="true"
      >
      </ag-grid-angular>
  </mat-card>
</div>
