<div>
  <button (click)="save()">add</button>
  <button (click)="delete()" [disabled]="!selectedData$">Delete</button>
</div>
<ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
  <ng-container  *ngSwitchCase="DataState.LOADED_STATE">
    <ag-grid-angular
      style="width: 100%; height: 500px;"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [frameworkComponents]="framework"
      [rowData]="appState.appData.data.students"
      rowSelection="single"
      (selectionChanged)="onSelectionChanged($event)"
      suppressCellSelection="false"
    >
    </ag-grid-angular>
  </ng-container>

</ng-container>

